@import "../../general.scss";

@keyframes scale {
    0%{
        width: 0px;
        height: 0px;
    }
    100% {
        width: 12px;
        height: 12px;
    }
}

header{
    section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
    }
    section:first-child{
        img{
            max-height: 100px;
        }
    }
}

table{
    max-width: 1150px;
    border-collapse: separate;
    border-spacing: 0 8px;
    h2, h3, p{
        text-align: left;
    }
    td{
        border: 0 solid;
        padding: 18px 0;
    }
    td:first-child{
        width: 27px;
        border-radius: 6px 0 0 6px;
    }
    td:nth-child(2){
        width: 215px;
    }
    td:nth-child(3){
        width: 715px;
    }
    td:last-child{
        width: 150px;
        border-radius: 0 6px 6px 0;
    }
    thead{
        background-color: $soft-brown;
        h2{
            color: $smoke-white;
        }
    }
    tbody{
        tr{
            border-radius: 66px;
            td{
                background-color: $vory;
                padding-right: 25px;
                label{
                    position: relative;
                    background-color: white;
                    border-radius: 6px;
                    left: 18px;
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                span{
                    position: absolute;
                    display: block;
                    background-color: rgb(204, 213, 174);
                    border-radius: 1rem;
                    width: 0px;
                    height: 0px;
                    transition: all 500ms;
                }
        
                input[type="checkbox"] {
                    display: none;
                }
            }
            td:last-child{
                padding-right: 5px;
                input{
                    color: $soft-black;
                    font-family: Overpass Mono;
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 30px;
                    letter-spacing: 0px;
                    text-align: center;
                    width: 100%;
                    background-color: $ghost;
                    border: none;
                    outline: none;
                    padding: 0;
                    text-align: left;
                }
                input::placeholder{
                    color: $ghost-grey;
                }
            }
        }
    }
}

main{
    margin-top: 50px;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    nav{
        display: flex;
        margin-bottom: 12px;
    }
    section:first-child{
        button:last-child{
            transform: scaleX(-1);
        }
    }
    section:last-child{
        h2{
            text-align: left;
        }
    }
}