@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100..900&family=Libre+Franklin:wght@100..900&family=Overpass+Mono:wght@300..700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  /* Заголовок */
  color: rgb(51, 51, 51);
  font-family: Libre Franklin;
  font-size: 36px;
  font-weight: 100;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: center;
}

h2 {
  /* Подзаголовок */
  color: rgb(51, 51, 51);
  font-family: Overpass Mono;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
}

h3 {
  /* Основой текст для абзацев */
  color: rgb(51, 51, 51);
  font-family: Exo 2;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

p {
  /* Маленький текст */
  color: rgb(81, 81, 81);
  font-family: Exo 2;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}

@keyframes scale {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 12px;
    height: 12px;
  }
}
header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
header section:first-child img {
  max-height: 40px;
}

table {
  max-width: 1150px;
  border-collapse: separate;
  border-spacing: 0 8px;
}
table h2, table h3, table p {
  text-align: left;
}
table td {
  border: 0 solid;
  padding: 18px 0;
  vertical-align: top;
}
table td:first-child {
  width: 27px;
  border-radius: 6px 0 0 6px;
}
table td:nth-child(2) {
  width: 215px;
}
table td:nth-child(3) {
  width: 715px;
  vertical-align: middle;
}
table td:last-child {
  width: 150px;
  border-radius: 0 6px 6px 0;
}
table thead {
  background-color: rgb(212, 163, 115);
}
table thead h2 {
  color: rgb(245, 245, 245);
}
table tbody tr {
  border-radius: 6px;
}
table tbody tr td {
  background-color: rgb(254, 250, 224);
  padding-right: 25px;
}
table tbody tr td label {
  position: relative;
  left: 18px;
  cursor: pointer;
}
table tbody tr td label input {
  display: none;
}
table tbody tr td label span {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 6px;
}
table tbody tr td label input:checked ~ span {
  background-color: white;
}
table tbody tr td label span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgb(204, 213, 174);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.5s ease;
}
table tbody tr td label input:checked ~ span::after {
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%) scale(1);
}
table tbody tr td textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  resize: none;
  max-height: 150px;
  color: rgb(51, 51, 51);
  font-family: Exo 2;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
}
table tbody tr td textarea::-webkit-scrollbar {
  display: none;
}
table tbody tr td:last-child {
  padding-right: 5px;
}
table tbody tr td:last-child input {
  color: rgb(51, 51, 51);
  font-family: Overpass Mono;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  padding: 0;
  text-align: left;
}
table tbody tr td:last-child input::-moz-placeholder {
  color: rgb(81, 81, 81);
}
table tbody tr td:last-child input::placeholder {
  color: rgb(81, 81, 81);
}

main {
  margin-top: 50px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
}
main nav {
  display: flex;
  margin-bottom: 12px;
}
main section:first-child button:last-child {
  transform: scaleX(-1);
}
main section:last-child h2 {
  text-align: left;
}/*# sourceMappingURL=style.css.map */