<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memoir</title>
    <link rel="stylesheet" href="../static/enterance/style/style.css">
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
</head>
<body>
    <img src="../static/icon/LOGO.svg" alt="logo">
    <section>
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Пароль">
        <a href="#"><p>Сбросить пароль</p></a>
        <a href="#"><p>Зарегестртроваться</p></a>
        <button><h2>Вход</h2></button>
    </section>
</body>
<script src="../static/enterance/scripts/script.js"></script>
</html>