<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index/style/style.css">
    <title>Memoir</title>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
</head>

<datalist id="my_values">
    <option value="Здоровье">
    <option value="Путешествия">
</datalist>

<body>
    <aside>
        <section>
            <h1>Событие Месяца</h1>
            <h2>Неделя</h2>
        </section>
        <section>
            {% for i in range(1, 6) %}
                <button>{{ i }}</button>
            {% endfor %}
        </section>
    </aside>
    <div></div>
<header>
        <section>
            <img src="../static/icon/LOGO.svg" alt="logo">
            <h2 id="name"></h2>
            <button><img src="../static/icon/logout.svg" alt="out"></button>
        </section>
        <section>
            <h1>Лучшее событие дня/недели/месяца/года</h1>
            <button><h3>Лучшее собитие года</h3></button>
        </section>
    </header>
    <main>
        <section>
            <nav>
                <button><img src="../static/icon/arrow.svg" alt="<"></button>
                <h2>2024</h2>
                <button><img src="../static/icon/arrow.svg" alt=">"></button>
            </nav>
            <ul>
                {% for month in months %}
                    <li><h2>{{ month }}</h2><figure></figure></li>
                {% endfor %}
            </ul>
        </section>
        <section id="table">
            <h2>Выберите событие месяца...</h2>
        </section>
    </main>
    <footer>
        <p>&copy;TUgroop</p>
    </footer>
</body>
<script src="../static/index/scripts/index.js"></script>
</html>