<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index/style/style.css">
    <title>Memoir</title>
</head>

<datalist id="my_values">
    <option value="Здоровье">
    <option value="Путешествия">
</datalist>

<body>
    <header>
        <section>
            <img src="" alt="logo">
            <h2>fake@mail.ru</h2>
            <button><img src="" alt="out"></button>
        </section>
        <section>
            <h1>Лучшее событие дня/недели/месяца/года</h1>
            <button>Лучшее собитие года</button>
        </section>
    </header>
    <main>
        <section>
            <nav></nav>
        </section>
        <section>
            <h2>Выберите событие месяца...</h2>
            <table>
                <thead>
                    <td><img src="" alt="love"></td>
                    <td><h2>День недели</h2></td>
                    <td><h2>Событие</h2></td>
                    <td><h2>Ценность</h2></td>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label onclick="box_checked('1_1')">
                                <input type="checkbox" name="myRadio" id="1_1">
                                <span id="s_1_1"></span>
                            </label>
                        </td>
                        <td><h2>1 Понедельник</h2></th>
                        <td><h3>Покушал полезную еду</h3></td>
                        <td><input type="text" name="values" list="my_values" placeholder="Выбрать"></td>
                    </tr>
                    <tr>
                        <td>
                            <label onclick="box_checked('1_2')">
                                <input type="checkbox" name="myRadio" id="1_2">
                                <span id="s_1_2"></span>
                            </label>
                        </td>
                        <td><h2>2 Вторник</h2></th>
                        <td><h3>Покушал полезную еду</h3></td>
                        <td><input type="text" name="values" list="my_values" placeholder="Выбрать"></select></td>
                    </tr>
                    <tr>
                        <td>
                            <label onclick="box_checked('1_3')">
                                <input type="checkbox" name="myRadio" id="1_3">
                                <span id="s_1_3"></span>
                            </label>
                        </td>
                        <td><h2>3 Среда</h2></th>
                        <td><h3>
                            Высокий уровень вовлечения представителей целевой аудитории является четким
                            доказательством простого факта: семантический разбор внешних
                            противодействий предполагает независимые способы реализации как
                            самодостаточных, так и внешне зависимых концептуальных решений. Являясь
                            всего лишь частью общей картины, элементы политического процесса
                            разоблачены.
                        </h3></td>
                        <td><input type="text" name="values" list="my_values" placeholder="Выбрать"></select></td>
                    </tr>
                    <tr>
                        <td>
                            <label onclick="box_checked('1_4')">
                                <input type="checkbox" name="myRadio" id="1_4">
                                <span id="s_1_4"></span>
                            </label>
                        </td>
                        <td><h2>4 Четверг</h2></th>
                        <td><h3>Покушал полезную еду</h3></td>
                        <td><input type="text" name="values" list="my_values" placeholder="Выбрать"></select></td>
                    </tr>
                    <tr>
                        <td>
                            <label onclick="box_checked('1_5')">
                                <input type="checkbox" name="myRadio" id="1_5">
                                <span id="s_1_5"></span>
                            </label>
                        </td>
                        <td><h2>5 Пятница</h2></th>
                        <td><h3>Покушал полезную еду</h3></td>
                        <td><input type="text" name="values" list="my_values" placeholder="Выбрать"></select></td>
                    </tr>
                    <tr>
                        <td>
                            <label onclick="box_checked('1_6')">
                                <input type="checkbox" name="myRadio" id="1_6">
                                <span id="s_1_6"></span>
                            </label>
                        </td>
                        <td><h2>6 Суббота</h2></th>
                        <td><h3>Покушал полезную еду</h3></td>
                        <td><input type="text" name="values" list="my_values" placeholder="Выбрать"></select></td>
                    </tr>
                    <tr>
                        <td>
                            <label onclick="box_checked('1_7')">
                                <input type="checkbox" name="myRadio" id="1_7">
                                <span id="s_1_7"></span>
                            </label>
                        </td>
                        <td><h2>7 Воскресенье</h2></th>
                        <td><h3>Покушал полезную еду</h3></td>
                        <td><input type="text" name="values" list="my_values" placeholder="Выбрать"></select></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <p>&copy;TUgroop</p>
    </footer>
</body>
<script src="../static/index/scripts/index.js"></script>

</html>