<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index/style/style.css">
    <title>Memoir</title>
</head>
<body>
    <header>
        <section>
            <img src="" alt="logo">
            <h2>fake@mail.ru</h2>
            <button><img src="" alt="out"></button>
        </section>
        <section>
            <h1>Лучшее событие дня/недели/месяца/года</h1>
            <button>Лучшее собитие года</button>
        </section>
    </header>
    <main>

    </main>
    <footer>
        <p>&copy;TUgroop</p>
    </footer>
</body>
</html>